/* .nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


main {
    /* font-family:  "Consolas", "Menlo", "Courier New", monospace; */
    font-family: "Nunito";
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 3rem 3rem;
}


.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* float: right; */
    padding: 0.5rem 2rem 2rem;  
}

#right-links {
    display: flex;
    gap: 2.5rem;
}

.nav-header a {
    text-decoration: none;
    font-weight: 800;
    color: inherit;
    display: inline-block;
}

.nav-header a:hover {
    transform: scale(1.5);
}

.header {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem;
    
}

#header-text {
    padding-left: 2rem;
}

img.profile-pic {
    width: 250px;
    height: 250px;
}

/* .image-cropper {

    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    
} */
/* .profile-pic {
    
    display: inline;
    margin: 0 auto;
    
    width: 100%;
    height: auto;
}  */




#links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    
    padding: 1.5rem 0rem;
    

    list-style: none;
    width: 100%;
}
#links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
}

#links a i {
    font-size: 1.8rem;
    
}

#links li span {
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

#links a {
    color: inherit;
}

#links a:hover {
    transform: scale(1.5);
}

.about {
    margin: 1.5rem;
    padding: 1rem 7rem;
}



#project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem;
    padding: 1rem 7rem;
}




.project-box {
    display: block;
    background-color: pink;
    border-radius: 25px;
    text-decoration: none;
    color: inherit;
}

.project-box-text {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.project-box:hover {
    transform: scale(1.1);
}

.project-box-text h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;         /* allow wrapping to next line */
    gap: 0.5rem;             /* space between bubbles */
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}

.tech-stack li {
    background-color: white; /* bubble background */
    color: #333;              /* text color */
    padding: 0.3rem 0.75rem;  /* spacing inside bubble */
    border-radius: 9999px;    /* fully rounded */
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;      /* prevent text breaking */
    transition: background 0.2s, transform 0.2s;
}

/* STYLING FOR PROJECT PAGES*/

.project-title {
    margin: 3rem;  
    padding: 0 1rem;    
    font-size: 3rem;
    font-weight: 100;    
}

.project-photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;           
    justify-items: center; 
    max-width: 1000px;           
    margin: 2rem auto;
}
.project-photos img{
    width: 400px;
    height:auto;
    padding-top: 2rem;
    outline: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
}

.photo-item {
    text-align: center;
}

.project-photos p {
    color: rgb(109, 109, 109);
    font-size: 0.8rem;
    font-weight: bold;    
}

.project-overview {
    margin: 3rem;  
    padding: 0 1rem;    
    line-height: 1.6;   
}

.project-overview h2 {
    font-size: 1.5rem;
    margin-top: 2rem;   
    margin-bottom: 1rem; 
    font-weight: 600;
}

.project-subsection {
    margin: 3rem;
}


/* TO DO:
    media queries!!
    fix spacing between pfp and nav

*/


@media screen and (min-width: 900px) {
    /* tablets and desktop */
    main {
        max-width: 1500px;
        margin: 0 auto;
    
    }
}
/* TO DO: fix profile pic for screens < 900px*/

@media screen and (max-width: 1000px) {
    /* inbetween */
    main {
        min-width: 80vw;
        padding: 1rem 0;
    }

    .about {
        padding: 1rem;
    }

    #project-container {
        padding: 1rem
    }
}
@media screen and (max-width: 480px) {
    /* phones */
    main {
        
        font-size: 16px;
        margin: 0;
        padding: 0;

    }

    .about {
        padding: 1rem;
    }

    #project-container {
        padding: 0 1rem
    }
}
