main {
    font-family: "Consolas", "Menlo", "Courier New", monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}



.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    
}

.header {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    
}


.image-cropper {

    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    
}
.profile-pic {
    
    display: inline;
    margin: 0 auto;
    
    width: 100%;
    height: auto;
} 


#links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 1.5rem;
    list-style: none;
    width: 100%;
}
#links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
}

#links a i {
    font-size: 1.8rem;
    
}

#links li span {
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

.about {
    margin: 2rem;
    padding: 0 5rem;
}

.about h3 {
    margin: 1.5rem;
}

#project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1.5rem;
    padding: 0 5rem;
}

#project-container h3 {
    margin: 1.5rem;
}
.project-box {
    background-color: pink;
    border-radius: 25px;
}

.project-box-text {
    margin: 1.5rem;
    display: flexbox;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;         /* allow wrapping to next line */
    gap: 0.5rem;             /* space between bubbles */
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}

.tech-stack li {
    background-color: white; /* bubble background */
    color: #333;              /* text color */
    padding: 0.3rem 0.75rem;  /* spacing inside bubble */
    border-radius: 9999px;    /* fully rounded */
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;      /* prevent text breaking */
    transition: background 0.2s, transform 0.2s;
}

/* STYLING FOR PROJECT PAGES*/

.project-title {
    margin: 2rem;  
    padding: 0 1rem;    
    font-size: 3rem;
    font-weight: 100;    
}

.project-photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;           
    justify-items: center; 
    max-width: 1000px;           
    margin: 2rem auto;
}
.project-photos img{
    width: 400px;
    height:auto;
    padding-top: 2rem;
    outline: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
}

.photo-item {
    text-align: center;
}

.project-photos p {
    color: rgb(109, 109, 109);
    font-size: 0.8rem;
    font-weight: bold;    
}

.project-overview {
    margin: 3rem;  
    padding: 0 1rem;    
    line-height: 1.6;   
}

.project-overview h2 {
    font-size: 1.5rem;
    margin-top: 2rem;   
    margin-bottom: 1rem; 
    font-weight: 600;
}

.project-subsection {
    margin: 3rem;
}
